.main-container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:0 auto;
}

body {
    background-image: url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg");
    background-size: cover;
}